*.o
*.cmd

robot/robot

tests/gpio/gpio

tests/motor_ctlr/mc

tests/realtime/module/Module.symvers
tests/realtime/module/gpiotest_module.ko
tests/realtime/module/gpiotest_module.mod
tests/realtime/module/gpiotest_module.mod.c
tests/realtime/module/modules.order
tests/realtime/user_mode/gpiotest_prog

tests/sensors/grove
tests/sensors/relay
tests/sensors/sensors

